body {
  margin: 0;
  font-family: 'Crimson Text', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/images/stock-vector.jpg");
  overflow: hidden;
  background-size:100% 100%;
  background-repeat: no-repeat;
}

code {
  font-family: 'Crimson Text', serif;
}

